body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #e6f3ff;
}

header {
    background-color: #4287f5;
    color: white;
    padding: 20px;
    text-align: center;
}

.travel-card {
    background-color: white;
    padding: 15px;
}

footer {
    background-color: #4287f5;
    color: white;
    padding: 10px;
    text-align: center;
    
}